{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
   
    {% if news %}
        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Дата
                </td>
                <td>
                    Текст статьи
                </td>
               
            </tr>
        
            <tr>
                <td>
                    {{ news.header|censor}}
                </td>
                <td>
		   {{ news.creationTime.day}}-{{ news.creationTime.month}}-{{news.creationTime.year}} {{ news.creationTime.hour}}:{{ news.creationTime.minute}}
                </td>
                <td>
                    {{ news.description|censor}}
                </td>
            </tr>
       
        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}